<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pokertentativafinal"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Principal.MainMenuActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.Resumo.MainResumoActivity" />
        <activity android:name=".ui.Resultado.MainResultadoDaEtapaActivity" />

        <activity android:name=".ui.Rebuy.MainRebuy" />
        <activity android:name=".ui.MesaParaEliminacao.MainMesaEliminacao" />
        <activity android:name=".ui.Mesas.MainMesa" />
        <activity android:name=".ui.MesaParaEliminacaoBalance.MainBalanceActivity" />
        <activity android:name=".ui.MesaParaEliminacaoBalance.MainBalanceAvisoActivity" />
        <activity android:name=".ui.Jogador.ActivityFormularioJogador">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.Jogador.MainListaJogadorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.JogadorDaEtapa.MainListaJogadorDaEtapaActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>